{% extends 'base.html.twig' %}

{% block title %}BabyBoard | Créer un compte
{% endblock %}

{% block body %}
	<div class="site-section">
			<div class="container mt-5">
				<div class="row d-flex justify-content-center">
					<div class="col-lg-7 col-sm-12 mt-5">
						{{form_start(registrationForm)}}
						{{ form_errors(registrationForm, {'attr': {'class': 'form-control'}}) }}
						<h1 class="h3 mb-3 font-weight-normal">Créer un compte</h1>
						<div class="row">
							<div class="col-6">
								{{ form_row(registrationForm.lastName, {'attr': {'class': 'form-control'}}) }}
							</div>
							<div class="col-6">
								{{ form_row(registrationForm.firstName, {'attr': {'class': 'form-control'}}) }}
							</div>
						</div>
						{{ form_row(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
						{{ form_row(registrationForm.pseudo, {'attr': {'class': 'form-control'}}) }}
						{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
						{{ form_label(registrationForm.agreeTerms) }}
						<a href="{{ path("app_cgu") }}" class="">conditions générales d'utilisation</a>
							{# <span class="checkbox">{{ form_widget(registrationForm.agreeTerms) }}</span> #}
						{{ form_widget(registrationForm.agreeTerms) }}

						<div class="d-flex justify-content-center">
							<button class="btn btn-lg btn-primary mt-2" type="submit">
								Créer un compte
							</button>
						</div>
					</div>
					{{form_end(registrationForm)}}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

