{% extends 'base.html.twig' %}

{% block title %}BabyBoard | Information sur le match n° {{ game.id }}{% endblock %}

{% block body %}
    <div class="site-section">
        <div class="container mt-5">
            <div class="row d-flex justify-content-center">
                <div class="col-7 col-sm-12" style="margin-top: 75px;">
                    <a href="{{ path('app_game_index') }}">Retour à la liste</a>
                    <table class="table custom-table">
                        <tbody class="text-center">
                        <tr>
                            <td>NUMÉRO DE MATCH</td>
                            <td>{{ game.id }}</td>
                        </tr>
                        <tr>
                            <td>CRÉÉ LE</td>
                            <td>{{ game.createdAt ? game.createdAt|date('Y-m-d H:i') : '' }}</td>
                        </tr>
                        <tr>
                            <td>POINTS ÉQUIPE BLEU</td>
                            <td>{{ game.PointsBlue }}</td>
                        </tr>
                        <tr>
                            <td>POINTS ÉQUIPE ROUGE</td>
                            <td>{{ game.PointsRed }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
