{% extends 'base_dashboard.html.twig' %}

{% block title %}Dashboard | Liste des matchs{% endblock %}

{% block body %}
    <div class="site-section bg-dark">
      <div class="container mt-5">
        <div class="row d-flex justify-content-center">
          <h1 class="display-6">Liste des matchs</h1>
        </div>
        <div class="row">
          <div class="col-12">
            <a class="btn btn-sm btn-primary mb-2" href="{{ path('app_dashboard_game_new') }}">Créer un match</a>
            <div class="widget-next-match">
              <table class="table custom-table">
                <thead>
                  <tr class="text-center">
                    <th>ID</th>
                    <th>EQUIPE ROUGE</th>
                    <th>EQUIPE BLEU</th>
                    <th>POINTS ROUGE</th>
                    <th>POINTS BLEU</th>
                    <th>DATE</th>
                    <th>GAGNANT</th>
                    <th>ACTION</th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  
                    {% for game in games %}
                        <tr>
                            <td>{{ game.id }}</td>
                            <td>{{ game.RedTeam.name }}</td>
                            <td>{{ game.BlueTeam.name }}</td>
                            <td>{{ game.PointsBlue is null ? 'null' : game.PointsBlue }}</td>
                            <td>{{ game.PointsRed is null ? 'null' : game.PointsRed }}</td>
                            <td>{{ game.createdAt|date("d/m/Y") }}</td>
                            <td>
                                {% if game.winnerTeam is null %}
                                  Pas de gagnant
                                {% else %}
                                  {{ game.winnerTeam.name }}
                                {% endif %}
                            </td>
                            
                            <td>
                                <div class="row d-flex justify-content-around">
                                    {# {{ include('dashboard/game/_delete_form.html.twig') }} #}
                                    <a href="{{ path('app_dashboard_game_edit', { id: game.id }) }}" class="btn btn-primary btn-sm">Modifier</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>Aucun enregistrement n'a été trouvé</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .site-section -->
{% endblock %}
