<!DOCTYPE html>
<html lang="FR">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-4K8591QGNS"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-4K8591QGNS');
		</script>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Découvrez notre plateforme de leaderboard de babyfoot. Suivez les classements en direct, participez à des compétitions et rejoignez une communauté passionnée. Relevez le défi et hissez-vous au sommet du classement mondial des joueurs de babyfoot!">
		<meta name="keywords" content="babyfoot, leaderboard, classements, compétitions, tournois, joueurs, jeu de table, football de table, kicker, baby foot, classement mondial, communauté de joueurs">
		<link rel="icon" href="{{ asset('images/favicon.ico') }}" />
		{# <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet"> #}
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
		<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/jquery.fancybox.min.css') }}">
		<link rel="stylesheet" href="{{ asset('css/bootstrap-datepicker.css') }}">
		<link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
		<link rel="stylesheet" href="{{ asset('css/aos.css') }}">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		<link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.dataTables.css" />
		<title>
			{% block title %}BabyBoard | Votre leaderboard pour le babyfoot !
			{% endblock %}
		</title>

		{% block stylesheets %}{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body>
		<div class="site-wrap">
			<div class="site-mobile-menu site-navbar-target">
				<div class="site-mobile-menu-header">
					<div class="site-mobile-menu-close">
						<span class="icon-close2 js-menu-toggle"></span>
					</div>
				</div>
				<div class="site-mobile-menu-body"></div>
			</div>
			<header class="site-navbar py-4" role="banner">
				<div class="container">
					<div class="d-flex align-items-center">
						<div class="site-logo">
							<a
								href="{{path('app_dashboard_index')}}">
								<img src="{{ asset('images/babyboard_logo.png')}}" style="max-height:119px" alt="Logo">
							</a>
						</div>
						<div class="ml-auto">
							<nav class="site-navigation position-relative text-right" role="navigation">
								<ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
									<li>
										<a href="{{ path('app_home') }}" class="nav-link">Accueil</a>
									</li>
									<li>
										<a href="{{ path('app_dashboard_index') }}" class="nav-link">Mon espace</a>
									</li>
									<li>
										<a href="{{ path('app_dashboard_team_index') }}" class="nav-link">Mes équipes</a>
									</li>
									<li>
										<a href="{{ path('app_dashboard_game_index') }}" class="nav-link">Mes matchs</a>
									</li>
									<li>
										{% if app.user %}
											<a href="{{path('_logout_main')}}" class="btn btn-sm btn-primary py-3 px-4 mr-3">Déconnexion</a>
										{% else %}
											<a href="{{path('app_login')}}" class="btn btn-sm btn-primary py-3 px-4 mr-3">Se connecter</a>
										{% endif %}
									</li>
								</ul>
							</nav>

							<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white">
								<span class="icon-menu h3 text-white"></span>
							</a>
						</div>
					</div>
					{% for label, messages in app.flashes %}
						{% for message in messages %}
							<div class="alert flash-{{ label }}">
								{{ message }}
							</div>
						{% endfor %}
					{% endfor %}
				</div>
			</header>
			{% block body %}{% endblock %}
			<footer class="footer-section">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 d-flex justify-content-center">
							<div class="widget mb-3">
								<center><h3>Menu</h3></center>
								<ul class="row list-unstyled links d-flex justify-content-center">
									<li><a class="mx-2" href="{{ path('app_home') }}">Accueil</a></li>
									<li><a class="mx-2" href="{{ path('app_dashboard_index') }}">Mon espace</a></li>
									<li><a class="mx-2" href="{{ path('app_dashboard_team_index') }}">Mes équipes</a></li>
									<li><a class="mx-2" href="{{ path('app_dashboard_game_index') }}">Mes Matchs</a></li>
                            		<li><a class="mx-2" href="{{ path('app_cgu') }}">CGU</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-md-12">
							<div class=" pt-5">
								<p>
									Copyright &copy;
									<script>
										document.write(new Date().getFullYear());
									</script> par <a href="https://felix-arthur.alwaysdata.net/" target="_blank">ARTHUR Félix</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
		<script src="{{ asset('js/custom.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
		<script src="{{ asset('js/jquery-migrate-3.0.1.min.js') }}"></script>
		<script src="{{ asset('js/jquery-ui.js') }}"></script>
		<script src="{{ asset('js/popper.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('js/owl.carousel.min.js') }}"></script>
		<script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
		<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
		<script src="{{ asset('js/bootstrap-datepicker.min.js') }}"></script>
		<script src="{{ asset('js/jquery.easing.1.3.js') }}"></script>
		<script src="{{ asset('js/aos.js') }}"></script>
		<script src="{{ asset('js/jquery.fancybox.min.js') }}"></script>
		<script src="{{ asset('js/jquery.sticky.js') }}"></script>
		<script src="{{ asset('js/diagram.js') }}"></script>
		<script src="{{ asset('js/main.js') }}"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	</body>
</html>

